<strong>Olá, {{ student }} </strong>
<p>Dados da inscrição na acadeimia Gympoint:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ date }} <br />
  <strong>Valor: </strong> {{ date }} <br />
  <br />
  <strong>Estamos muito felizes em tê-lo em nossa equipe</strong><br />
  <small>
    Qualquer dúvida entrar em contato.
  </small>
</p>
