<strong>Olá, {{ student }} </strong>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer  }} <br />
  <br />
  <strong>Estamos muito felizes em tê-lo em nossa equipe</strong><br />
  <small>
    Qualquer dúvida entrar em contato.
  </small>
</p>
